{% extends 'base.html' %}
{% block content %}
    <!-- About -->
    <h4 class="center">This is the pythondev community site</h4>
    <div class="divider"></div>
    <div class="section" id="about">
        <p class="center">We are a growint community bla balLorem ipsum dolor sit amet, consectetur adipisicing
            elit. Eaque esse possimus quasi rerum.
            Adipisci, autem dolorum exercitationem iure minima modi nesciunt officiis omnis, optio quasi quidem
            repellendus reprehenderit, sit vel?</p>
    </div>
    <!-- Blog section -->
    <div class="section" id="blog">
        <h4 class=>Blog</h4>

        {% include 'main/blog.html' %}
    </div>

    <!-- Projects section -->
    <h4>Projects</h4>
    <div class="divider"></div>
    <div class="section" id="projects">
        {% include 'main/projects.html' %}
    </div>



{% endblock %}
