<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pythondev Site</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Third party CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Project CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/project.css">

</head>
<body>
<header class="header">
    <h1 class="headline">Pythondev Community Site</h1>
    <a href="#" class="btn red white-text">Join US!</a>
    <ul class="header-subnav">
        <li><a href="#blog">BLOG</a></li>
        <li><a href="#projects">Projects</a></li> <!-- Needs to have a is-active class -->
        <li><a href="#">Ideas</a></li>
    </ul>
</header>

<ul class="flashes"> <!-- need to work on the flashes class -->
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% block modal %}
{% endblock modal %}

<!-- footer -->
<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l8 s12 ">
                <p class="grey-text text-lighten-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium debitis odio provident quo reprehenderit! A ab atque harum id laborum neque nulla
                    officia optio ra
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            This projecs has been built with the help of the pythondev community
            <a class="grey-text text-lighten-4 right" href="https://gitlab.com/PythonDevCommunity/pythondev-site">link
                to Gitlab repo</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<!-- Third party scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


<!-- Project JS -->
<script type="text/javascript" src="static/js/project.js"></script>

</body>
</html>